{% extends "base.html" %}
{% block title %}
    Your Route
{% endblock title %}

{% block content %}
  <!-- Head -->
  <section class="planned-route-head bg-primary py-3">
    <div class="container grid">
      <div>
        <h1 class="xl">Your route</h1>
        <p class="lead">Here you can find the shortest route
                        designed for your needs.
        </p>
      </div>
      <img src="{{ url_for('static', filename='images/selection.svg')}}" alt="">
    </div>
  </section>

  <!-- Planned trip description with Map -->
  <section class="map-content-planned bg-light py-2">
    <div class="container grid">
      <div class="map-content-planned-text">
        <h1>The shortest route</h1>
        <p>Here is the shortest route to go 
          to all your desired locations. Now you can 
        forward it via mail to whoever needs it.</canvas>
        </p>
      </div>

      <div class="map card">
        {{ map|safe }}
      </div>
    </div>
  </section>

  <!-- Ordered locations table -->
  <section class="locations-ordered">
    <div class="container">
      <div class="locations-ordered-data grid-1">
        {% if locations.total < 1 %}
            <h1>There are no locations to travel to. Add them <a href="{{url_for('locations.location')}}" class="text-secondary">here</a>!</h1>
        {% else %}
          <h1>Follow these locations in order:</h4>
          <table class="location-table">
            <thead>
              <tr>
                <th>Street</th>
                <th>Number</th>
                <th>City Code</th>
                <th>City</th>
              </tr>
            </thead>

            {% for location in locations.items %}
              <tbody>
                <tr>
                  <td>{{ location.street }}</td>
                  <td>{{ location.number }}</td>
                  <td>{{ location.code }}</td>
                  <td>{{ location.city }}</td>
                </tr>
              </tbody>
            {% endfor %}
          </table>
          <!-- Pagination -->
          <div class="plan-pagination-box">
            <div class="location-planned-pagination pagination">
              {% for page_num in locations.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=3) %}
                {% if page_num %}
                  {% if locations.page == page_num %}
                    <a class="pagination-main-page" href="{{ url_for('locations.location', locations=locations, page=page_num) }}">{{ page_num }}</a>
                  {% else %}
                    <a class="pagination-secondary-page" href="{{ url_for('locations.location', locations=locations, page=page_num) }}">{{ page_num }}</a>
                  {% endif %}
                {% else %}
                  ...
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </section>

 
{% endblock content %}