{% extends "base.html" %}
{% block title %}
    Your Route
{% endblock title %}

{% block content %}
  <!-- Head -->
  <section class="planned-route-head bg-primary py-3">
    <div class="container grid">
      <div>
        <h1 class="xl">Your route</h1>
        <p class="lead">Here you can find the shortest route
                        designed for your needs.
        </p>
      </div>
      <img src="{{ url_for('static', filename='images/selection.svg')}}" alt="">
    </div>
  </section>

  <!-- Planned trip description with Map -->
  <section class="map-content-planned bg-light py-2">
    <div class="container grid">
      <div class="map-content-planned-text">
        <h1>The shortest route</h1>
        <p>Here is the shortest route found by the algorithm you chose.
          Follow the locations bellow in order, so you can have 
          the shortest trip.</canvas>
        </p>
      </div>

      <div class="map card">
        {{ map|safe }}
      </div>
    </div>
  </section>

  <!-- Ordered locations table -->
  <section class="locations-ordered">
    <div class="container">
      <div class="locations-ordered-data grid-1">
        <h1>Follow these locations in order:</h4>
        <table class="location-table">
          <thead>
            <tr>
              <th>Street</th>
              <th>Number</th>
              <th>City Code</th>
              <th>City</th>
            </tr>
          </thead>

          {% for location in locations %}
            <tbody>
              <tr>
                <td>{{ location[0] }}</td>
                <td>{{ location[1] }}</td>
                <td>{{ location[2] }}</td>
                <td>{{ location[3] }}</td>
              </tr>
            </tbody>
          {% endfor %}
        </table>
        <!-- Pagination -->

      </div>
    </div>
  </section>

 
{% endblock content %}