{% extends "base.html" %}
{% block title %}About{% endblock title%}

{% block content %}
    <h1>About</h1>
    <p>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor porttitor purus eu cursus. 
        Aliquam erat volutpat. Morbi rutrum libero lacinia tortor hendrerit, sed ultrices est tempus. 
        Nunc a scelerisque felis. Mauris sit amet porta augue. Nunc et libero tempor, accumsan mi nec, imperdiet est. 
        Ut id molestie massa. Mauris sit amet dictum eros. Etiam mollis a magna vitae mollis. 
        Suspendisse dictum suscipit ante ut iaculis. Mauris ex eros, scelerisque a dignissim vel, sagittis et lectus.
    </p>
    <p>
        Pellentesque risus enim, pellentesque vitae mollis non, gravida sit amet diam. Maecenas nec orci felis. 
        Duis placerat placerat purus, vel sodales eros. Cras euismod nibh quis nunc vestibulum, eget rhoncus lacus tincidunt. 
        Nullam sodales ut diam maximus porta. Nunc ut varius eros. Fusce faucibus ante vitae fringilla malesuada. 
        Donec venenatis turpis ac finibus sodales.
    </p>
{% endblock content %}